:host div {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

:host .empty-space {
    flex: 1;
}

:host .pages-text {
    font-size: 1.2em;
    margin: 0 10px;
}

:host>div:first-child {
    margin-left: 56px;
}

:host .select-container {
    margin-bottom: 24px;
    margin-left: 15px;
}